openapi: "3.0.1"
info:
  title: API Hub Applications
  version: "1.0"
  description: |
    This is used by The API Hub frontend (api-hub-frontend) to create and retrieve details of applications made by users

    ```
    Change Log

    ```

      | Version | Date | Author | Description |
      |---|-----|------|-----|
      | 1.0.0 | 01-03-2023 | Laura Howarth-Kirke | Document current endpoints |
servers:
  - url: https://api-hub-applications.protected.mdtp/api-hub-applications

paths:
  /applications:
    get:
      summary: Get all applications
      responses:
        200:
          description: A list of credentials to scope mappings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Applications"
  /applications/{id}:
    get:
      summary: Get application by application ID
      parameters:
        - name: id
          in: path
          description: The Application ID
          required: true
          schema:
            type: string
            format: "24 character hexadecimal"
            example: "63e25c5916101c38744f727b"
      responses:
        200:
          description: A single application with the specified application ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Application"
        404:
          description: An application with specified ID cannot be found

components:
  schemas:
    Applications:
      type: array
      items:
        $ref: "#/components/schemas/Application"
    Application:
      type: object
      properties:
        id:
          type: string
          example: "63e25c5916101c38744f727b"
        name:
          type: string
          example: "Address Weighting Service"
        created:
          type: string
          format: date-time
          example: "2023-02-13T14:44:00.849"
        createdBy:
          $ref: "#/components/schemas/CreatedBy"
        lastUpdated:
          type: string
          format: date-time
          example: "2023-03-01T11:23:00.583"
        teamMembers:
          $ref: "#/components/schemas/TeamMembers"
          example:
        environments:
          $ref: "#/components/schemas/Environments"
    CreatedBy:
      type: object
      properties:
        email:
          type: string
          example: "john.smith@hmrc.gov.uk"
    TeamMembers:
      type: array
      items:
        $ref: "#/components/schemas/TeamMember"
    TeamMember:
      type: object
      properties:
        email:
          type: string
          example: "john.smith@hmrc.gov.uk"
    Environments:
      type: object
      properties:
        dev:
          $ref: "#/components/schemas/Environment"
        test:
          $ref: "#/components/schemas/Environment"
        preProd:
          $ref: "#/components/schemas/Environment"
        prod:
          $ref: "#/components/schemas/Environment"
    Environment:
      type: object
      properties:
        scopes:
          $ref: "#/components/schemas/Scopes"
    Scopes:
      type: array
      items:
        $ref: "#/components/schemas/Scope"
    Scope:
      type: object
      properties:
        name:
          type: string
          example: "read:address"
        status:
          type: string
          enum:
            - "PENDING"
            - "APPROVED"
            - "DENIED"
          example: "APPROVED"
